:root{
    --Orange: hsl(25, 97%, 53%);
    --Orange-opc: hsl(25, 97%, 33%);
    --White: hsl(0, 0%, 100%);
    --LightGrey: hsl(217, 12%, 63%);
    --MediumGrey: hsl(216, 12%, 24%);
    --DarkBlue: hsl(213, 19%, 18%);
    --VeryDarkBlue: hsl(216, 12%, 8%);
    --font-family: 'Overpass', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    background: var(--VeryDarkBlue);
    font-size: 15px;
    width: 375px;
    height: 667px;
}

main{
    background-color: inherit;    
    width: inherit;
    height: inherit;
          
}

.thankyou-state {
    display: none;
}

.rating-state,
.thankyou-state {
    background: var(--DarkBlue);
    width: 327px;
    height: 364px;
    border-radius: 16px;
    margin: 150px auto 80px;
    padding: 24px;
}

.rating-state__title,
.thankyou-state__title{
    color: var(--White);
    font-size: 1.6em;
    font-weight: 400px;
    margin-bottom: 15px;
}

.rating-state__paragraph,
.thankyou-state__paragraph {
    color: var(--LightGrey);
    margin-bottom: 30px;
    letter-spacing: -.5px;
}

.rating-state__icon-container,
.rating-state__number-container__number{
    background-color: var(--MediumGrey);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    display: grid;
    place-content: center;
    margin-bottom: 22px;
    color: var(--LightGrey);
}

.rating-state__number-container {
    display: flex;
    justify-content: space-between;
}

.rating-state__number-container__number:hover{
    background: var(--LightGrey);
    color: var(--White);
    cursor: pointer;
}

.rating-state__number-container__number:focus{
    background: var(--Orange);
    color: var(--White);
    cursor: pointer;
}

.rating-state__submit-button {
    width: 100%;
    height: 44px;
    border: none;
    border-radius: 44px ;
    background: var(--Orange);
    color: var(--White);
    text-transform: uppercase;
    font-weight: 700px;
    letter-spacing: 3px;
}

.rating-state__submit-button:hover {
    background: var(--White) ;
    color: var(--Orange); 
}
/*-----------------THANKYOU STATE---------------------------------*/

.thankyou-state{
    
    flex-direction: column;
    align-items: center;
}

.thankyou-state__image {
    width: 150px;
    margin-bottom: 24px;
}

.thankyou-state__result{
    background: var(--MediumGrey);
    width: 170px;
    height: 36px;
    border-radius: 50px;
    color: var(--Orange-opc);
    text-align: center;
    padding: 8px 0;
    margin-bottom: 30px;
    font-size: 0.9em;

}

.thankyou-state__paragraph{
    text-align: center;
    letter-spacing: -.9px;
    word-spacing: 3px;
}

.attribution { 
    font-size: 11px; text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/*-----------------DESKTOP DESIGN--------------------------------*/

@media (min-width: 700){
    
    body{
        width: 1440px;
        height: 800px; 
    }
    main{
        width: inherit;
        height: inherit;
    }

    .rating-state,
    .thankyou-state {
        width: 412px;
        height: 412px;
        padding: 34px;
    }

    .rating-state__icon-container,
    .rating-state__number-container__number {
    background-color: var(--MediumGrey);
    width: 50px;
    height: 50px;
    }

    .rating-state__title,
    .thankyou-state__title {
        font-size: 1.9em;
    }
    .rating-state__paragraph,
    .thankyou-state__paragraph {
        font-size: 1.07em;
    }

    .thankyou-state__result {
        font-size: 1em;
        width: 196px;
    }

}